*{
    margin: 0% auto;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0% auto;
    font-family: 'Open Sans', sans-serif;
}
/* header left and right */
.hdr1::after{
    content: "";
    display: table;
    clear: both;
}

.hdr1{
    position: fixed;
    padding: 10px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
/* img */
.hdr1 > img{
    float: left;
    padding: 10px;
} 
/* /img */

.hdr-right span > button{
    padding:5px 15px 5px 15px;   
    background-color: #32a8a0;
    color: white;
    line-height: 10px;
} 

.hdr-left{
    float: left;
    padding: 10px;
}
.hdr-right{
    float: right;
    padding: 10px;
}

/* header  span */
.section{
    float: left;
}

aside span{
    padding: 10px;
    vertical-align: middle;
}
/*/ header left and right */

/* section1 con background  */
.section1{
    width: 100%;
    height: 600px;
    background-color: #32a8a0;

}
/* /section1 con background  */

/* testi nel banner */
.container-testo1{
    position: relative;
    display: inline-block;
    background-color: red;
    width: 100%;
    height: 50px;
}

.testo1{
    position: absolute;
    margin-top: 85px;
    width: 75%;
    font-weight: bold;
    font-size: 60px;
    top: 50%;
    left: 10%;
}

#testo{
    margin-top: 80px;
    width: 80%;
    font-weight: bold;
    font-size: 60px;
    padding: 5px;
}

.block1{
    position: relative;
    top:200px ;
    width: 30%;
    margin-left: 130px;
    padding: 5px;
}

.block1 button{
    padding: 3px 15px 3px 15px;
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin-top: 30px;
}

.bottom-text{
    position: relative;
    margin-top: 10px;
}

.fas.fa-arrow-down{
    font-size: 40px;
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.img-banner{
    position: absolute;
    bottom: -120px;
    left: 500px;
}
.img-banner img{
    height: 350px;
}
/*/ testi nel banner */


/* form e testo */

#content-hdr {
    position: relative;
    top: 350px;
    left: 20%;
    height: 50px;
    width: 100%;
}

#content-hdr > span {
    position: relative;
    font-size: 30px;
    font-weight: bold;
}


form{
    position: absolute;
    margin-top: 10px;

}
/* form e testo */

/* colums */
.content{
    position: relative;
    display: inline-block;
    margin-top: 200px;
    margin-left: 80px;
    width:70%;
    height: 500px;
}
/*/ colums */

.col4{
    height: 100%;
}

.col4 span{
    width: 100%;
    height: 40px;
    text-align: left;
    display: inline-block;
    padding: 10px;
}


/* testo colonna 4 */

.col4 span:nth-child(3){
    font-size: 15px;
    font-weight: bold;
}

.col4 span:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}

.col4  button{
    position: absolute;
    right: 20px;
    top:20px;
    line-height: 20px;
    color: white;
    background-color: royalblue;
    border: 1px solid royalblue;
    margin-top: 20px;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
}

.cont-4{
    border: 1px solid grey;
    height: 100%;
    width: 100%;
}











 .col{
     position: relative;
     width: calc(100% / 3 - 40px);
     background-color: white;
     top: 450px;
     left: 30%;
     transform: translate(-50% , -50%);
     margin: 20px;
     border: 1px solid rgba(117, 115, 115);
     padding-bottom: 100px;
     margin-top: 150px;
 }

 .col > button{
     margin-top: 20px;
     padding: 5px 15px 5px 15px;
     background-color: royalblue;
     border: 1px solid royalblue;
     color: white;
     margin-left: 35px;
 }
 

 
.head-symbol{
    position: relative;
    border-bottom: 1px solid black;
    width: 100%; 
    height: 30px;
    text-align: center;
    padding: 5px;
}

.col > span{
   display:block;
   margin-left: 30px;
}

.col span:nth-child(3){
    font-weight: bold;
}


 
 aside.colum1{
     float: left;
 }

 aside.colum2{
    float: left;
}

aside.colum3{
    float: left;
}

aside.dive span{
    text-align: center;
}

aside span:nth-last-child(5){
    font-weight:bold;
}

.col span > p{
    color: grey;
    font-size: 15px;
}

i.fas.fa-check{
    color: blue;
    margin-right: 5px;
}

i.far.fa-folder{
    margin-right: 5px;
}

i.fas.fa-pen{
    margin-right: 5px;
}

.head-symbol + span {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 20px;
}

.col  a{
  text-decoration: none;
  color:#32a8a0;
}


/* partner section */

.partner{
    width: 60%;
    height: 100%;
}

.partner::after{
    content: "";
    display: table;
    clear: both;
}

.container-img{
    float: right;
    height: 300px;
    width:300px;
}



.container-img span:first-child{
    font-size: 20px;
    font-weight: bold;
}
.container-img span:nth-child(2){
    display: inline-block;
    margin-top: 20px;
    word-spacing: 5px;
}

.button-partner{
    display: inline-block;
    margin-top: 20px;
    border: 1px solid grey;
    padding: 3px 15px 3px 15px;
}

.partner-img{
    float: left;
    height: 500px;
    width: 500px;
}
/*/ partner section */

/* float images */
.float-images{
    height: 500px;
    width: 60%;
}

.float-image-title{
    width: 60%;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

/* blocchi floattati */

.float-images::after{
    content: "";
    display: table;
    clear: both;
}

.block-float{
    float: left;
    width:33%;
    padding-left: 15px;
}

.block-float img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-float span:nth-child(2){
    font-size: 20px;
    width: 100%;
    font-weight: bold;
}

.block-float span:nth-child(3){
    display: inline-block;
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    padding-top: 20px;
}


/* float side title */

.float-side-title{
    display: inline-block;
    margin-top: 80px;
    width: 60%;
    margin-left: 20%;
}


.float-side-title span{
    font-size: 40px;
    font-weight: bold;
}

.float-side-title a{
    display: block;
    font-size: 15px;
    padding-top: 20px;
    color: cyan;

}
/* /float side title */

/* blocchi sponsor */
.row::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    width: 100%;
    background-color: red;
    height: 400px;
}

.col-side-sx{
    float: left;
    width: 30%;
}

.col-side-c{
    float: left;
    width: 40%;
}

.col-side-dx{
    float: right;
    width: 30%;
}

.img-side{
    width: 100%;
    
}





.text-banner2{
    position: relative;
    height: 300px;
    width: 100%;
    background-color: royalblue;
}

.text-banner{
    position: relative;
    display: inline-block;
    left: 15%;
    padding-top: 100px;
    width: 40%;
    font-size: 40px;
    font-weight: bolder;
}

.button-banner2{
    position: relative;
    left: 25%;
    top: 0;
    margin-top: -100px;
    width: 20%;
    font-size: 40px;
    font-weight: bolder;
}

.text-banner2 div > button{
    padding: 5px 50px 5px 50px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bolder;
}













